# URL do Backend (ex: http://localhost:8000 em dev ou https://api.capio.com em prod)
VITE_API_BASE_URL=http://localhost:8000

# Configurações de Apoio (Pix)
VITE_PIX_KEY=65947985000102
VITE_PIX_RECEIVER_NAME=VELARIS TECNOLOGIA LTDA
VITE_PIX_CITY=FORTALEZA

